// Подключение миксины =================================================================================================
@import 'base/mixins';
// Подключение миксины =================================================================================================
	
// Подключение шрифтов =================================================================================================
// Подключение шрифтов =================================================================================================

// Иконочные шрифты ====================================================================================================
@import 'base/icons';
// Иконочные шрифты ====================================================================================================

// Импорты =============================================================================================================
@import 'base/ibg';
@import 'base/colors';
// Импорты =============================================================================================================

// Переменные ==========================================================================================================
$minWidth: 320; //было с px
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;      
$md4: 479.98;

$font-size: 16;
// Переменные ==========================================================================================================

// Обнуление, общие параметры ==========================================================================================
@import 'base/null';
@import 'base/ui';

body {
	font-family: "Lato", sans-serif;
	font-size: $font-size + px;
	font-weight: 400;
	color: $mainColorText;
}
// Обнуление, общие параметры ==========================================================================================

// Оболочка ============================================================================================================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка ======================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	flex: 1 1 auto;
}


// Подключаем блоки сайта =================================================================================================
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/order';
@import 'blocks/footer';

// Подключаем блоки сайта =================================================================================================
    
    
//background: url("@img/profile.jpg") 0 0 no-repeat